/* corpo do html */
body {
    font-family: Sora;
    background-color: #c8b6ff;
}

/* cabeçalho */
img {
    text-align: center;
    padding: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
}

.subtitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 0;
}

/* árvore de links */
.tree{
    text-transform: uppercase;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
}

li{
    padding: 1em;
    font-size: 1.4rem;
    border-radius: 15px;
    margin: 35px 0;
    padding: 10px;
    background-color: #ffffff;
}

li:hover{
    transform: translateY(0px);
    animation: float 2s ease-in;
    border-color: #f72525;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-1px);
    }
}

li:hover a{
    color: #ff3c38;
}

nav a{
    color: #10002b;
    text-decoration: none;
    font-weight: bold;
}

/* tudo relacionado ao rodapé */
footer{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #10002b;
    padding: 1em;
    border-top: #10002b 1px solid;
}

footer p{
    margin-top: 15px;
    font-size: 14px;
}

footer p a{
    text-decoration: none;
    color: #10002b;
}

footer img{
    width: 2.5em;
    margin: auto;
}

.git-hub p{
    margin-top: 0;
}
/* botão de whatsapp -> Jefferson Savian https://codepen.io/savian/pen/pVLejm */

.whatsapp-button{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
    text-decoration: none;
}

.whatsapp-button:hover{
    transform: translateY(0px);
    animation: pulse 2s ease-in-out;
}

.whatsapp-button i{
    color: #fff;
}