/* corpo do html */
body {
    font-family: Freizeit;
    background-color: #c8b6ff;
}

/* cabeçalho */
img {
    text-align: center;
    padding: 10px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    text-shadow: #000000 2px 3px;
}

.subtitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 0;
}

/* árvore de links */
.tree{
    text-transform: uppercase;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
}

li{
    padding: 1em;
    font-size: 25px;
    border-radius: 15px;
    border-color: #000000;
    border-width: 2px;
    border-style: double;
    margin: 35px 0;
    padding: 10px;
    background-color: #ffffff;
}

li:hover{
    transform: translateY(0px);
    animation: float 2s ease-in;
    border-color: #f72525;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-1px);
    }
}

li:hover a{
    color: #ff3c38;
}

nav a{
    color: #10002b;
    text-decoration: none;
    font-weight: bold;
}

/* tudo relacionado ao rodapé */
footer{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #10002b;
    padding: 1em;
}

footer p{
    margin-top: 15px;
}